%h1 Available Rooms from  #{params[:start_date].to_time.strftime("%m/%d/%y")} to #{params[:end_date].to_time.strftime('%m/%d/%y')}
.panel
  .table-responsive
    %table.table{:style => "margin-bottom: 0px;"}
      %thead
        %tr
          %th Room Number
          %th Room Type
          %th Price
          %th
      %tbody
        - @available_rooms.each do |room_id|
          - room = Room.find_by_id(room_id)
          %tr
            %td
              = room.number
            %td
              = room.room_category.category
            %td
              = room.room_category.price
            %td
              = button_to "Book", booked_room_path(room_id: room, start_date: params[:start_date],end_date: params[:end_date]),class:'book-button'
